p{
  margin-top: 0;
  margin-bottom: 0;
}

.gmail{
  width: 400px;
  height: 120px;
  margin-left: 50px;
  padding-left: 15px;
  padding-top: 1px;
  padding-bottom: 5px;
  border-radius: 5px;
  border-style: solid;
  border-color: rgb(202, 188, 188);
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.15) ;
  border-width: 1px;
}

.mail{
  display: flex;
  
}

.sender-time{
  display: flex;
  justify-content: space-between;
}

.cat{
  height: 50px;
  border-radius: 1000px;
  margin-right: 5px;
}

.sender{
  font-weight: bold;
}

.subject{
  margin-top: 0;
  font-weight: bold;
  font-size: 13px;
}

.mail-info{
  display: flex;
  flex-direction: column;
  flex: 1;
}

.header{
  margin-bottom: 20px;
  margin-top: 4px;
  font-size: 12px;
  color: grey;
}

.time{
  font-size: 13px;
  color: grey;
  margin-right: 10px;
}

.content{
  color: grey;
  font-size: 12px;
}

